.App {
  text-align: center;
}


@keyframes slide-in-right {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slide-in-left {
  from {
    margin-left: -120%;
    width: 200%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

.typed-line-right {
  animation-name: slide-in-right;
  animation-duration: 7s;
  position: relative;
}

.typed-line-left {
  animation-name: slide-in-left;
  animation-duration: 7s;
  position: relative;
}
