@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(1000px) rotate(2000deg);
    -webkit-opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px) rotate(0deg);
    -webkit-opacity: 1;
  }
}
@-moz-keyframes slide-in-right {
  from {
    -moz-transform: translateX(1000px) rotate(2000deg);
    -moz-opacity: 0;
  }
  to {
    -moz-transform: translateX(0px) rotate(0deg);
    -moz-opacity: 1;
  }
}
@-o-keyframes slide-in-right {
  from {
    -o-transform: translateX(1000px) rotate(2000deg);
    -o-opacity: 0;
  }
  to {
    -o-transform: translateX(0px) rotate(0deg);
    -o-opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(1000px) rotate(2000deg);
    opacity: 0;
  }
  to {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

.slide-in-word {
  -webkit-animation-name: slide-in-right;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slide-in-right;
  -moz-animation-duration: 3s;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: slide-in-right;
  -o-animation-duration: 3s;
  -o-animation-fill-mode: forwards;
  animation-name: slide-in-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: relative;
  display: inline-block;
}

div.race-btn {
  display: flex;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.race-btn > button {
    width: 25vw;
    justify-self: center;
    align-self: center;
    margin: 5%;
}

.song-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding-top: 200px;
}

.typing-input {
  margin: 0 auto;
  width: 500px;
}

div.words-to-type {
  margin: 0 auto;
  width: 700px;
  font-size: 1.25rem;
}

div.prev-words {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 50px;
  margin-bottom: -50px;
}

div.wpm-corner {
  font-size: 3rem;
  bottom: 10px;
  position: fixed;
  left: 10px;
}

div.final-words {
  text-align: center;
  margin-top: 100px;
}

div.info {
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
  width: 1000px;
}

div.page-btn {
  text-align: center;
}

.questions {
  font-size: 10px;
  text-align: center;
  position: fixed;
  bottom: 0rem;
}

div.error { 
  color: red;
}

span{
  margin: .3rem;
}

@-webkit-keyframes pop-upwards {
  from {
    -webkit-transform: translateY(0px) rotate(0deg);
    -webkit-opacity: 1;
  }
  to {
    -webkit-transform: translateY(-100px) rotate(-720deg);
    -webkit-opacity: 0;
  }
}
@-moz-keyframes pop-upwards {
  from {
    -moz-transform: translateY(0px) rotate(0deg);
    -moz-opacity: 1;
  }
  to {
    -moz-transform: translateY(-100px) rotate(-720deg);
    -moz-opacity: 0;
  }
}
@-o-keyframes pop-upwards {
  from {
    -o-transform: translateY(0px) rotate(0deg);
    -o-opacity: 1;
  }
  to {
    -o-transform: translateY(-100px) rotate(-720deg);
    -o-opacity: 0;
  }
}

@keyframes pop-upwards {
  from {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(-100px) rotate(-720deg);
    opacity: 0;
  }
}

span.good {
  -webkit-animation-name: pop-upwards;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: pop-upwards;
  -moz-animation-duration: 2s;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: pop-upwards;
  -o-animation-duration: 2s;
  -o-animation-fill-mode: forwards;
  animation-name: pop-upwards;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: inline-block;
}

.input-container {
  position: fixed;
  margin-top: 10%;
  left: 25%;
  bottom: 0;
  padding-bottom: 1%;
}

.light {
  background-color: rgb(153, 255, 204, 0.5);
  color: rgb(0, 0, 0, 1);
}

.dark {
  background-color: rgb(0, 0, 0, 0.7);
  color: rgb(153, 255, 204, 1);
}